In [1]:
import pandas as pd

In [2]:
df_users = pd.read_parquet('./data/user.parquet')

In [3]:
df_tips = pd.read_parquet('./data_new/tips.parquet')

In [5]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2105597 entries, 0 to 2105596
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 353.4+ MB

In [4]:
user_tips = df_tips['user_id'].tolist()
data_user = df_users[df_users['user_id'].isin(user_tips)]
tips_new = df_tips[df_tips['user_id'].isin(user_tips)]

In [5]:
tips_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675599 entries, 0 to 675598
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           675599 non-null  object
 1   business_id       675599 non-null  object
 2   text              675599 non-null  object
 3   date              675599 non-null  datetime64[ns]
 4   compliment_count  675599 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 25.8+ MB

In [6]:
tips_new.head()

,user_id,business_id,text,date,compliment_count
0,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
1,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
2,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
3,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0
4,trf3Qcz8qvCDKXiTgjUcEg,7Rm9Ba50bw23KTA8RedZYg,"Chili Cup + Single Cheeseburger with onion, pi...",2012-03-13 04:00:52,0

In [7]:
tips_new.to_parquet('users.parquet', index=False)