In [4]:
import pyarrow as pa
import pyarrow.parquet as pq
import pandas as pd
import numpy as np

In [5]:
df_busisnes = pd.read_parquet('gs://data_henry_proyecto_final/busisnes-clean.parquet')

In [6]:
df_checkin = pd.read_parquet('gs://data_henry_proyecto_final/checkin-clean.parquet')

In [7]:
df_reviews = pd.read_parquet('gs://data_henry_proyecto_final/reviews-clean.parquet')

In [8]:
df_tip = pd.read_parquet('gs://data_henry_proyecto_final/tip-clean.parquet')

In [9]:
df_user = pd.read_parquet('gs://data_henry_proyecto_final/user-clean.parquet')

In [10]:
df_reviews

,review_id,user_id,business_id,stars,text,date
0,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
1,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1.0,I am a long term frequent customer of this est...,2015-09-23 23:10:31
2,6AxgBCNX_PNTOxmbRSwcKQ,r3zeYsv1XFBRA4dJpL78cw,gmjsEdUsKpj9Xxu6pdjH0g,5.0,Loved this tour! I grabbed a groupon and the p...,2015-01-03 23:21:18
3,_ZeMknuYdlQcUqng_Im3yg,yfFzsLmaWF2d4Sr0UNbBgg,LHSTtnW3YHCeUkRDGyJOyw,5.0,Amazingly amazing wings and homemade bleu chee...,2015-08-07 02:29:16
4,l3Wk_mvAog6XANIuGQ9C7Q,ZbqSHbgCjzVAqaa7NKWn5A,EQ-TZ2eeD_E0BHuvoaeG5Q,4.0,"Locals recommended Milktooth, and it's an amaz...",2015-08-19 14:31:45
...,...,...,...,...,...,...
3735111,BE12ibZHDgGoV3sKfYmWmQ,BYM5EcajA1_Y6GnLdfAQzg,4bNFWpQtS5PtfjXuxTc-GQ,5.0,I am surprised by the recent negative reviews....,2022-01-01 18:28:57
3735112,A5uNiAOGcU0M34sSGN6Wkg,JWhZs-vSggwN6WgxBHgIDw,B2xtWMBTyDtd-ndqqaIC1Q,1.0,Sat at the bar for 10 minutes and didn't get s...,2022-01-15 15:41:15
3735113,PVRvzY0NxSU-fiK3JOXX7w,cTozFTTWjlFYc3yusdbZmA,uMVOtr16r1ELu46pWr4HCQ,1.0,Just average Thai food tonight. Bangkok has al...,2022-01-18 06:42:59
3735114,wD5ZWao_vjyT2h4xmGam8Q,7L7GL5Pi2cf8mbm2Dpw4zw,e_E-jq9mwm7wk75k7Yi-Xw,5.0,It is very rare for a restaurant to be this go...,2022-01-17 22:36:01
3735115,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5.0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27

In [11]:
df_reviews = df_reviews.merge(df_user, on='user_id', how='outer')

In [12]:
df_reviews

,review_id,user_id,business_id,stars,text,date,name,review_count,yelping_since,average_stars
0,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,Kyle,9.0,2014-01-17 19:20:57,4.78
1,FahFwcZAtiVWC9AU0yfX4w,_7bHUi9Uuf5__HHc_Q8guQ,M4UpdNcnHqvLm2WCRF0ukg,4.0,"Romantic atmosphere, superb service, reasonabl...",2017-02-06 01:00:08,Kyle,9.0,2014-01-17 19:20:57,4.78
2,wu2rglozpyp5J_braQjACQ,_7bHUi9Uuf5__HHc_Q8guQ,HP8kVUCXWR7m5S8GXSKh7g,5.0,"Delicious, unique, healthy and fresh. Looking ...",2017-02-04 17:17:21,Kyle,9.0,2014-01-17 19:20:57,4.78
3,zvYspccLPsSFIlm7FTXVVQ,_7bHUi9Uuf5__HHc_Q8guQ,h8qIDmSY6CgqvKMCjzzWeA,5.0,Very unassuming from the outside. Walk inside ...,2017-10-15 00:27:17,Kyle,9.0,2014-01-17 19:20:57,4.78
4,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1.0,I am a long term frequent customer of this est...,2015-09-23 23:10:31,Q,4.0,2014-06-15 18:44:27,2.00
...,...,...,...,...,...,...,...,...,...,...
3947951,NaN,XPNsbtTADPdAsYT-C4xjsA,NaN,NaN,NaN,NaN,Jamila,5.0,2018-02-05 05:47:47,4.60
3947952,NaN,Ea2Ik9OLTD5p9VvL_paKag,NaN,NaN,NaN,NaN,Kt,2.0,2014-08-24 23:43:58,3.67
3947953,NaN,fB3jbHi3m0L2KgGOxBv6uw,NaN,NaN,NaN,NaN,Jerrold,23.0,2015-01-06 00:31:31,4.92
3947954,NaN,68czcr4BxJyMQ9cJBm6C7Q,NaN,NaN,NaN,NaN,Jane,1.0,2016-06-14 07:20:52,5.00
3947955,NaN,ulfGl4tdbrH05xKzh5lnog,NaN,NaN,NaN,NaN,Susanne,2.0,2011-01-14 00:29:08,3.00

In [13]:
df_reviews = df_reviews.merge(df_tip, on=['business_id','user_id'], how='outer')

In [14]:
df_reviews = df_reviews.merge(df_checkin, on='business_id', how='outer')

In [15]:
df_reviews = df_reviews.merge(df_busisnes, on='business_id', how='outer')

In [16]:
df_reviews

,review_id,user_id,business_id,stars_x,text_x,date_x,name_x,review_count_x,yelping_since,average_stars,...,name_y,city,state,latitude,longitude,stars_y,review_count_y,attributes,categories,hours
0,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,Kyle,9.0,2014-01-17 19:20:57,4.78,...,Zaika,Philadelphia,AB,40.079848,-75.025080,4.0,181.0,"{'Caters': 'True', 'Ambience': ""{'romantic': F...","Halal, Pakistani, Restaurants, Indian","{'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21..."
1,NENaCqb6TNj5CyY1LOdI6Q,2SEoXb6r6hPKrl9V9VzBgA,kxX2SOes4o-D3ZQBkiMRfA,5.0,Came to Philly for a family event but stayed a...,2015-07-28 17:15:20,Bridget,9.0,2011-09-16 16:04:22,3.70,...,Zaika,Philadelphia,AB,40.079848,-75.025080,4.0,181.0,"{'Caters': 'True', 'Ambience': ""{'romantic': F...","Halal, Pakistani, Restaurants, Indian","{'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21..."
2,l-bH0C-PSXmVs-vQqMfJ1Q,toFm0jWZJKqsOmHE7kMbRA,kxX2SOes4o-D3ZQBkiMRfA,5.0,A very neat little hole in the wall. Very clea...,2015-06-21 01:11:14,Scott,14.0,2012-10-08 17:30:34,4.79,...,Zaika,Philadelphia,AB,40.079848,-75.025080,4.0,181.0,"{'Caters': 'True', 'Ambience': ""{'romantic': F...","Halal, Pakistani, Restaurants, Indian","{'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21..."
3,qr7acpL3ZzP7cAmXaax93w,cMvau1VAjuKo_ah0ZBck1g,kxX2SOes4o-D3ZQBkiMRfA,4.0,This place was a great find. I'd say its a 4.5...,2015-12-06 01:36:28,Sydney,7.0,2012-06-22 05:16:23,4.43,...,Zaika,Philadelphia,AB,40.079848,-75.025080,4.0,181.0,"{'Caters': 'True', 'Ambience': ""{'romantic': F...","Halal, Pakistani, Restaurants, Indian","{'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21..."
4,VmM83BrA_db6jd1IwhNALw,JXB91quCyabpRX0fwP-RDA,kxX2SOes4o-D3ZQBkiMRfA,5.0,"I love the nice friendly service,great Indian ...",2015-09-10 17:33:00,M,23.0,2015-09-10 16:45:25,4.13,...,Zaika,Philadelphia,AB,40.079848,-75.025080,4.0,181.0,"{'Caters': 'True', 'Ambience': ""{'romantic': F...","Halal, Pakistani, Restaurants, Indian","{'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4780225,NaN,NaN,oLzfq3hDki53F_ZuamdmXg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Music Mill,Indianapolis,FL,39.910678,-86.102733,3.5,7.0,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Venues & Event Spaces, American (New), Restaur...",None
4780226,NaN,NaN,nwYEN669Fk9bH9qceFvnjQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Istanbul Grill & Cafe,Philadelphia,FL,39.955585,-75.143719,3.0,5.0,"{'RestaurantsPriceRange2': '2', 'RestaurantsAt...","Restaurants, Turkish, Mediterranean","{'Tuesday': '12:0-22:0', 'Wednesday': '12:0-22..."
4780227,NaN,NaN,V_8ReSppc0WFB4hZbh94WA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Django,Philadelphia,AB,39.941934,-75.149329,4.0,19.0,"{'Corkage': 'False', 'RestaurantsGoodForGroups...","Restaurants, American (New)","{'Monday': '17:30-22:0', 'Tuesday': '17:30-22:..."
4780228,NaN,NaN,VDHdLzIpF9aShB_wtPpUFg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Labeebee's,Saint Louis,MO,38.628410,-90.194005,3.5,6.0,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","Middle Eastern, Restaurants","{'Monday': '11:0-14:0', 'Tuesday': '23:0-14:0'..."
4780229,NaN,NaN,ri5slg2kpEzD2LuGLRGSMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Au Bon Pain Lockefield,Indianapolis,IN,39.779874,-86.172440,4.5,5.0,"{'RestaurantsAttire': ""'casual'"", 'Alcohol': ""...","Bakeries, Coffee & Tea, Sandwiches, Restaurant...",None

In [16]:
import dask.dataframe as dd

In [ ]:
table = pa.Table.from_pandas(df_reviews)
schema = table.schema

with pq.ParquetWriter('gs://data_henry_proyecto_final/reviews-clean.parquet', schema) as writer:
    writer.write_table(table)