In [506]:
import pandas as pd
import numpy as np
import nltk
import pyarrow as pa
import pyarrow.parquet as pq

from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [507]:
import pyarrow as pa
import pyarrow.parquet as pq

In [508]:
df_reviews = pd.read_parquet('gs://datos-machine-learning/users.parquet')

In [509]:
df_reviews

,user_id,business_id,text,date,compliment_count
0,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
1,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
2,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
3,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0
4,trf3Qcz8qvCDKXiTgjUcEg,7Rm9Ba50bw23KTA8RedZYg,"Chili Cup + Single Cheeseburger with onion, pi...",2012-03-13 04:00:52,0
...,...,...,...,...,...
1351193,FowxkbAixI3hlREeCgIa_Q,kfNv-JZpuN6TVNSO6hHdkw,Great experience with a phenomenal food with a...,2021-05-09 23:21:10,0
1351194,1uxtQAuJ2T5Xwa_wp7kUnA,OaGf0Dp56ARhQwIDT90w_g,Great food and service.,2021-10-30 11:54:36,0
1351195,v48Spe6WEpqehsF2xQADpg,hYnMeAO77RGyTtIzUSKYzQ,Love their Cubans!!,2021-11-05 13:18:56,0
1351196,ckqKGM2hl7I9Chp5IpAhkw,s2eyoTuJrcP7I_XyjdhUHQ,Great pizza great price,2021-11-20 16:11:44,0
1351197,4tF1CWdMxvvwpUIgGsDygA,_cb1Vg1NIWry8UA0jyuXnQ,Food is good value but a bit hot!,2021-12-07 22:30:00,0

In [510]:
comentarios = df_reviews['text']

In [511]:
analyzer = SentimentIntensityAnalyzer()

In [512]:
for i, comentario in enumerate(comentarios):
    scores = analyzer.polarity_scores(comentario)
    # Asigna 1 si el sentimiento es positivo, 0 si es negativo o neutral
    df_reviews.loc[i, 'sentimiento'] = 1 if scores['compound'] > 0 else 0

In [513]:
df_reviews

,user_id,business_id,text,date,compliment_count,sentimiento
0,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0,1.0
1,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0,0.0
2,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0,0.0
3,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0,1.0
4,trf3Qcz8qvCDKXiTgjUcEg,7Rm9Ba50bw23KTA8RedZYg,"Chili Cup + Single Cheeseburger with onion, pi...",2012-03-13 04:00:52,0,0.0
...,...,...,...,...,...,...
1351193,FowxkbAixI3hlREeCgIa_Q,kfNv-JZpuN6TVNSO6hHdkw,Great experience with a phenomenal food with a...,2021-05-09 23:21:10,0,1.0
1351194,1uxtQAuJ2T5Xwa_wp7kUnA,OaGf0Dp56ARhQwIDT90w_g,Great food and service.,2021-10-30 11:54:36,0,1.0
1351195,v48Spe6WEpqehsF2xQADpg,hYnMeAO77RGyTtIzUSKYzQ,Love their Cubans!!,2021-11-05 13:18:56,0,1.0
1351196,ckqKGM2hl7I9Chp5IpAhkw,s2eyoTuJrcP7I_XyjdhUHQ,Great pizza great price,2021-11-20 16:11:44,0,1.0
1351197,4tF1CWdMxvvwpUIgGsDygA,_cb1Vg1NIWry8UA0jyuXnQ,Food is good value but a bit hot!,2021-12-07 22:30:00,0,1.0

In [514]:
df_reviews['sentimiento'] = df_reviews['sentimiento'].astype(int)

In [515]:
df_reviews = df_reviews.drop('text', axis=1)

In [516]:
df_reviews = df_reviews.drop('user_id', axis=1)

In [517]:
df_reviews = df_reviews.drop('compliment_count', axis=1)

In [518]:
df_reviews = df_reviews.drop('date',axis=1)

In [519]:
df_reviews

                    business_id  sentimiento
0        QoezRbYQncpRqyrLH6Iqjg            1
1        MYoRNLb5chwjQe3c_k37Gg            0
2        hV-bABTK-glh5wj31ps_Jw            0
3        _uN0OudeJ3Zl_tf6nxg5ww            1
4        7Rm9Ba50bw23KTA8RedZYg            0
...                         ...          ...
1351193  kfNv-JZpuN6TVNSO6hHdkw            1
1351194  OaGf0Dp56ARhQwIDT90w_g            1
1351195  hYnMeAO77RGyTtIzUSKYzQ            1
1351196  s2eyoTuJrcP7I_XyjdhUHQ            1
1351197  _cb1Vg1NIWry8UA0jyuXnQ            1

[1351198 rows x 2 columns]

In [520]:
df_busisnes = pd.read_parquet('gs://datos-machine-learning/Busisness.parquet')

In [521]:
df_busisnes

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,attributes,categories,Days,Hours
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,California,19107,39.955505,-75.155564,4.0,80.0,RestaurantsDelivery False OutdoorSeating False...,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","7:0-20:0, 7:0-20:0, 7:0-20:0, 7:0-20:0, 7:0-21..."
1,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,Florida,33771,27.916116,-82.760461,4.5,100.0,OutdoorSeating False RestaurantsGoodForGroups ...,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","10:0-18:0, 10:0-20:0, 10:0-20:0, 10:0-20:0, 10..."
2,8wGISYjYkE2tSqn3cDMu8A,Nifty Car Rental,1241 Airline Dr,Kenner,Philadelphia,70062,29.981183,-90.254012,3.5,14.0,None,"Automotive, Car Rental, Hotels & Travel, Truck...","Monday, Tuesday, Wednesday, Thursday, Friday, ...","8:0-17:0, 8:0-17:0, 8:0-17:0, 8:0-17:0, 8:0-17..."
3,kfNv-JZpuN6TVNSO6hHdkw,Hibachi Express,6625 E 82nd St,Indianapolis,Philadelphia,46250,39.904320,-86.053080,4.0,20.0,RestaurantsDelivery True RestaurantsTakeOut Tr...,Restaurant Asian,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","11:0-21:0, 11:0-21:0, 11:0-21:0, 11:0-21:0, 11..."
4,QdN72BWoyFypdGJhhI5r7g,Bar One,767 S 9th St,Philadelphia,Philadelphia,19147,39.939825,-75.157447,4.0,65.0,Smoking uno NoiseLevel uaverage Caters False W...,Restaurant Breakfast & Brunch American,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","16:0-0:0, 16:0-0:0, 16:0-0:0, 12:0-0:0, 12:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25046,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,California,19128,40.032483,-75.214430,3.0,55.0,NoiseLevel uaverage RestaurantsTakeOut True Ca...,Restaurant Sandwiches Fast Food,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","10:0-21:0, 10:0-21:0, 10:0-21:0, 10:0-21:0, 10..."
25047,8n93L-ilMAsvwUatarykSg,Kitchen Gia,3716 Spruce St,Philadelphia,Philadelphia,19104,39.951018,-75.198240,3.0,22.0,RestaurantsGoodForGroups True BikeParking True...,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","9:0-19:30, 9:0-19:30, 9:0-19:30, 9:0-19:30, 9:..."
25048,2MAQeAqmD8enCT2ZYqUgIQ,The Melting Pot - Nashville,"166 2nd Ave N, Ste A",Nashville,Philadelphia,37201,36.163875,-86.776311,4.0,204.0,RestaurantsDelivery False RestaurantsReservati...,Restaurant American Food Nightlife - Dance Clubs,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 16:0-21:0, 16:0-21:0, 16:0-21:0, 16:0..."
25049,w_4xUt-1AyY2ZwKtnjW0Xg,Bittercreek Alehouse,246 N 8th St,Boise,Philadelphia,83702,43.616590,-116.202383,4.5,998.0,BikeParking True Alcohol ufull_bar GoodForKids...,Restaurant Sandwiches Fast Food,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 11:0-22:0, 11:0-22:0, 11:0-23:0, 11:0..."
25050,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,Philadelphia,19014,39.856185,-75.427725,4.5,14.0,RestaurantsDelivery False BusinessAcceptsBitco...,Restaurant Event Planning & Services,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 0:0-0:0, 0:0-0:0, 0:0-0:0, 0:0-0:0, 0..."

In [522]:
df_busisnes = df_busisnes.drop('postal_code', axis=1)

In [523]:
df_busisnes = df_busisnes.drop('name', axis=1)

In [524]:
df_busisnes = df_busisnes.drop('address', axis=1)

In [525]:
df_busisnes = df_busisnes.drop('attributes', axis=1)

In [526]:
#df_busisnes = df_busisnes.drop('latitude', axis=1)

In [527]:
df_busisnes

,business_id,city,state,latitude,longitude,stars,review_count,categories,Days,Hours
0,MTSW4McQd7CbVtyjqoe9mw,Philadelphia,California,39.955505,-75.155564,4.0,80.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","7:0-20:0, 7:0-20:0, 7:0-20:0, 7:0-20:0, 7:0-21..."
1,0bPLkL0QhhPO5kt1_EXmNQ,Largo,Florida,27.916116,-82.760461,4.5,100.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","10:0-18:0, 10:0-20:0, 10:0-20:0, 10:0-20:0, 10..."
2,8wGISYjYkE2tSqn3cDMu8A,Kenner,Philadelphia,29.981183,-90.254012,3.5,14.0,"Automotive, Car Rental, Hotels & Travel, Truck...","Monday, Tuesday, Wednesday, Thursday, Friday, ...","8:0-17:0, 8:0-17:0, 8:0-17:0, 8:0-17:0, 8:0-17..."
3,kfNv-JZpuN6TVNSO6hHdkw,Indianapolis,Philadelphia,39.904320,-86.053080,4.0,20.0,Restaurant Asian,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","11:0-21:0, 11:0-21:0, 11:0-21:0, 11:0-21:0, 11..."
4,QdN72BWoyFypdGJhhI5r7g,Philadelphia,Philadelphia,39.939825,-75.157447,4.0,65.0,Restaurant Breakfast & Brunch American,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","16:0-0:0, 16:0-0:0, 16:0-0:0, 12:0-0:0, 12:0-2..."
...,...,...,...,...,...,...,...,...,...,...
25046,wVxXRFf10zTTAs11nr4xeA,Philadelphia,California,40.032483,-75.214430,3.0,55.0,Restaurant Sandwiches Fast Food,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","10:0-21:0, 10:0-21:0, 10:0-21:0, 10:0-21:0, 10..."
25047,8n93L-ilMAsvwUatarykSg,Philadelphia,Philadelphia,39.951018,-75.198240,3.0,22.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","9:0-19:30, 9:0-19:30, 9:0-19:30, 9:0-19:30, 9:..."
25048,2MAQeAqmD8enCT2ZYqUgIQ,Nashville,Philadelphia,36.163875,-86.776311,4.0,204.0,Restaurant American Food Nightlife - Dance Clubs,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 16:0-21:0, 16:0-21:0, 16:0-21:0, 16:0..."
25049,w_4xUt-1AyY2ZwKtnjW0Xg,Boise,Philadelphia,43.616590,-116.202383,4.5,998.0,Restaurant Sandwiches Fast Food,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 11:0-22:0, 11:0-22:0, 11:0-23:0, 11:0..."
25050,2O2K6SXPWv56amqxCECd4w,Aston,Philadelphia,39.856185,-75.427725,4.5,14.0,Restaurant Event Planning & Services,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 0:0-0:0, 0:0-0:0, 0:0-0:0, 0:0-0:0, 0..."

In [528]:
estados = ['Florida', 'Pensilvania', 'New York', 'Texas', 'California']

In [529]:

df_busisnes = df_busisnes[df_busisnes['state'].isin(estados)]

In [530]:
df_busisnes

,business_id,city,state,latitude,longitude,stars,review_count,categories,Days,Hours
0,MTSW4McQd7CbVtyjqoe9mw,Philadelphia,California,39.955505,-75.155564,4.0,80.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","7:0-20:0, 7:0-20:0, 7:0-20:0, 7:0-20:0, 7:0-21..."
1,0bPLkL0QhhPO5kt1_EXmNQ,Largo,Florida,27.916116,-82.760461,4.5,100.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","10:0-18:0, 10:0-20:0, 10:0-20:0, 10:0-20:0, 10..."
5,sqSqqLy0sN8n2IZrAbzidQ,White House,California,36.464747,-86.659187,3.5,8.0,Restaurant Chicken Wings - Fast Food,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","10:0-0:0, 10:0-0:0, 10:0-0:0, 10:0-0:0, 10:0-1..."
11,cVBxfMC4lp3DnocjYA3FHQ,Edmonton,Florida,53.549633,-113.508780,5.0,20.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 10:0-21:0, 10:0-21:0, 10:0-21:0, 10:0..."
14,seKihQKpGGnCeLuELRQPSQ,Indianapolis,Florida,39.906295,-86.047463,3.5,257.0,Restaurant Breakfast & Brunch American,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 11:0-0:0, 11:0-0:0, 11:0-22:0, 11:0-1..."
...,...,...,...,...,...,...,...,...,...,...
25038,IeSD0nMKRFYUTnR5nZH1CQ,Tucson,California,32.221828,-110.967969,3.5,111.0,Restaurant Breakfast & Brunch American,"Tuesday, Wednesday, Thursday, Friday, Saturday...","17:0-2:0, 17:0-2:0, 17:0-2:0, 14:0-2:0, 11:0-2..."
25040,Y5gyxnQt44B3axgzrjttlw,Kenner,Florida,30.033566,-90.238520,4.5,6.0,Restaurant Mexican,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","14:0-21:0, 14:0-21:0, 14:0-21:0, 14:0-21:0, 14..."
25041,VZbkSeZtFynEascotq7ExA,Philadelphia,California,39.953391,-75.196765,4.0,8.0,"Restaurants, Food Stands",None,None
25043,esBGrrmuZzSiECyRBoKvvA,St. Petersburg,Florida,27.770872,-82.643069,4.5,38.0,Restaurant Breakfast & Brunch American,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","11:30-23:0, 11:30-23:0, 11:30-23:0, 11:30-23:0..."
25046,wVxXRFf10zTTAs11nr4xeA,Philadelphia,California,40.032483,-75.214430,3.0,55.0,Restaurant Sandwiches Fast Food,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","10:0-21:0, 10:0-21:0, 10:0-21:0, 10:0-21:0, 10..."

In [531]:
df_reviews = df_reviews.merge(df_busisnes, on=['business_id'], how='outer')

In [532]:
df_reviews

,business_id,sentimiento,city,state,latitude,longitude,stars,review_count,categories,Days,Hours
0,QoezRbYQncpRqyrLH6Iqjg,1.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 6:30-15:0, 6:30-15:0, 6:30-15:0, 6:30..."
1,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 6:30-15:0, 6:30-15:0, 6:30-15:0, 6:30..."
2,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 6:30-15:0, 6:30-15:0, 6:30-15:0, 6:30..."
3,QoezRbYQncpRqyrLH6Iqjg,1.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 6:30-15:0, 6:30-15:0, 6:30-15:0, 6:30..."
4,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 6:30-15:0, 6:30-15:0, 6:30-15:0, 6:30..."
...,...,...,...,...,...,...,...,...,...,...,...
1352726,2GnAOElY1MqaLZ2NHMerhw,NaN,New Orleans,Florida,30.008066,-90.021493,2.5,10.0,"RV Parks, Hotels & Travel",None,None
1352727,MRGIaZmmpY38WbhVq29qZA,NaN,Tampa,Florida,27.997949,-82.582649,3.0,6.0,Restaurant Caribbean,"Wednesday, Thursday, Friday, Saturday, Sunday","11:0-19:0, 11:0-19:0, 11:0-20:30, 11:0-20:30, ..."
1352728,G8oBujUQQ8Zs-7YRQkfaig,NaN,Philadelphia,Florida,39.974327,-75.179928,4.0,5.0,Restaurant Caribbean,None,None
1352729,OfRbGvHn-nAnQMqNxiIpcA,NaN,Philadelphia,Florida,39.957447,-75.189916,3.0,5.0,Food Street,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","11:0-22:0, 11:0-22:0, 11:0-22:0, 11:0-3:0, 11:..."
1352730,Y5gyxnQt44B3axgzrjttlw,NaN,Kenner,Florida,30.033566,-90.238520,4.5,6.0,Restaurant Mexican,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","14:0-21:0, 14:0-21:0, 14:0-21:0, 14:0-21:0, 14..."

In [533]:
df_reviews = df_reviews[df_reviews['state'].isin(estados)]

In [534]:
df_reviews

,business_id,sentimiento,city,state,latitude,longitude,stars,review_count,categories,Days,Hours
0,QoezRbYQncpRqyrLH6Iqjg,1.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 6:30-15:0, 6:30-15:0, 6:30-15:0, 6:30..."
1,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 6:30-15:0, 6:30-15:0, 6:30-15:0, 6:30..."
2,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 6:30-15:0, 6:30-15:0, 6:30-15:0, 6:30..."
3,QoezRbYQncpRqyrLH6Iqjg,1.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 6:30-15:0, 6:30-15:0, 6:30-15:0, 6:30..."
4,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","0:0-0:0, 6:30-15:0, 6:30-15:0, 6:30-15:0, 6:30..."
...,...,...,...,...,...,...,...,...,...,...,...
1352726,2GnAOElY1MqaLZ2NHMerhw,NaN,New Orleans,Florida,30.008066,-90.021493,2.5,10.0,"RV Parks, Hotels & Travel",None,None
1352727,MRGIaZmmpY38WbhVq29qZA,NaN,Tampa,Florida,27.997949,-82.582649,3.0,6.0,Restaurant Caribbean,"Wednesday, Thursday, Friday, Saturday, Sunday","11:0-19:0, 11:0-19:0, 11:0-20:30, 11:0-20:30, ..."
1352728,G8oBujUQQ8Zs-7YRQkfaig,NaN,Philadelphia,Florida,39.974327,-75.179928,4.0,5.0,Restaurant Caribbean,None,None
1352729,OfRbGvHn-nAnQMqNxiIpcA,NaN,Philadelphia,Florida,39.957447,-75.189916,3.0,5.0,Food Street,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","11:0-22:0, 11:0-22:0, 11:0-22:0, 11:0-3:0, 11:..."
1352730,Y5gyxnQt44B3axgzrjttlw,NaN,Kenner,Florida,30.033566,-90.238520,4.5,6.0,Restaurant Mexican,"Monday, Tuesday, Wednesday, Thursday, Friday, ...","14:0-21:0, 14:0-21:0, 14:0-21:0, 14:0-21:0, 14..."

In [535]:
df_pbi = pd.read_parquet('gs://datos-machine-learning/PBI_estados.parquet')

In [536]:
df_densidad = pd.read_parquet('gs://datos-machine-learning/densidad_estados.parquet')

In [537]:
df_pbi = df_pbi[df_pbi['Estado'].isin(estados)]

In [538]:
df_pbi = df_pbi.drop('PIB per cÃ¡pita PosiciÃ³n', axis=1)

In [539]:
df_pbi = df_pbi.drop('PIB per cÃ¡pita ($)', axis=1)

In [540]:
df_pbi

        Estado  Porcentaje del  PIB Nacional  PoblaciÃ³n (Millones)
1   California                         13.34                  37.3
2        Texas                          7.95                  25.1
4      Florida                          5.20                  18.8
6  Pensilvania                          3.97                  12.7

In [541]:
df_densidad.columns = df_densidad.columns.droplevel(0)

In [542]:
df_densidad = df_densidad[df_densidad['Estado'].isin(estados)]

In [543]:
columnas = df_densidad.columns.tolist()

In [544]:
columnas[1] = 'km2'

In [545]:
df_densidad.columns = columnas

In [546]:
df_densidad

        Estado    km2  General       kmÂ²
11    New York  162.0        4  122055.8
12     Florida  145.0        3  138888.1
16  California   97.0        1  403932.0
31       Texas   40.0        2  676587.8

In [547]:
df_reviews = df_reviews.merge(df_densidad, left_on='state', right_on='Estado', how='outer')

In [548]:
df_reviews = df_reviews.drop('Estado', axis=1)

In [549]:
df_reviews = df_reviews.drop('Hours', axis=1)

In [550]:
df_reviews = df_reviews.drop('General', axis=1)

In [551]:
df_reviews

,business_id,sentimiento,city,state,latitude,longitude,stars,review_count,categories,Days,km2,kmÂ²
0,QoezRbYQncpRqyrLH6Iqjg,1.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1
1,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1
2,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1
3,QoezRbYQncpRqyrLH6Iqjg,1.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1
4,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1
...,...,...,...,...,...,...,...,...,...,...,...,...
286489,8vtUY6iWprSSHfDIctoWWQ,1.0,Boise,Texas,43.596157,-116.177924,4.0,8.0,Restaurant Breakfast & Brunch American,None,40.0,676587.8
286490,8vtUY6iWprSSHfDIctoWWQ,1.0,Boise,Texas,43.596157,-116.177924,4.0,8.0,Restaurant Breakfast & Brunch American,None,40.0,676587.8
286491,8vtUY6iWprSSHfDIctoWWQ,1.0,Boise,Texas,43.596157,-116.177924,4.0,8.0,Restaurant Breakfast & Brunch American,None,40.0,676587.8
286492,fb7xvxtgAwVqxyu4As_yRQ,NaN,Reno City,Texas,39.505878,-119.779186,2.5,38.0,"Truck Rental, Parking, Hotels & Travel, Car Re...",None,40.0,676587.8
286493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162.0,122055.8

In [552]:
df_reviews = df_reviews.merge(df_pbi, left_on='state',right_on='Estado', how='outer')

In [553]:
df_reviews

,business_id,sentimiento,city,state,latitude,longitude,stars,review_count,categories,Days,km2,kmÂ²,Estado,Porcentaje del PIB Nacional,PoblaciÃ³n (Millones)
0,QoezRbYQncpRqyrLH6Iqjg,1.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,Florida,5.20,18.8
1,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,Florida,5.20,18.8
2,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,Florida,5.20,18.8
3,QoezRbYQncpRqyrLH6Iqjg,1.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,Florida,5.20,18.8
4,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,Florida,5.20,18.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286490,8vtUY6iWprSSHfDIctoWWQ,1.0,Boise,Texas,43.596157,-116.177924,4.0,8.0,Restaurant Breakfast & Brunch American,None,40.0,676587.8,Texas,7.95,25.1
286491,8vtUY6iWprSSHfDIctoWWQ,1.0,Boise,Texas,43.596157,-116.177924,4.0,8.0,Restaurant Breakfast & Brunch American,None,40.0,676587.8,Texas,7.95,25.1
286492,fb7xvxtgAwVqxyu4As_yRQ,NaN,Reno City,Texas,39.505878,-119.779186,2.5,38.0,"Truck Rental, Parking, Hotels & Travel, Car Re...",None,40.0,676587.8,Texas,7.95,25.1
286493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162.0,122055.8,NaN,NaN,NaN
286494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pensilvania,3.97,12.7

In [554]:
df_reviews = df_reviews.drop('Estado', axis=1)

In [555]:
df_reviews

,business_id,sentimiento,city,state,latitude,longitude,stars,review_count,categories,Days,km2,kmÂ²,Porcentaje del PIB Nacional,PoblaciÃ³n (Millones)
0,QoezRbYQncpRqyrLH6Iqjg,1.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8
1,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8
2,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8
3,QoezRbYQncpRqyrLH6Iqjg,1.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8
4,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286490,8vtUY6iWprSSHfDIctoWWQ,1.0,Boise,Texas,43.596157,-116.177924,4.0,8.0,Restaurant Breakfast & Brunch American,None,40.0,676587.8,7.95,25.1
286491,8vtUY6iWprSSHfDIctoWWQ,1.0,Boise,Texas,43.596157,-116.177924,4.0,8.0,Restaurant Breakfast & Brunch American,None,40.0,676587.8,7.95,25.1
286492,fb7xvxtgAwVqxyu4As_yRQ,NaN,Reno City,Texas,39.505878,-119.779186,2.5,38.0,"Truck Rental, Parking, Hotels & Travel, Car Re...",None,40.0,676587.8,7.95,25.1
286493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162.0,122055.8,NaN,NaN
286494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.97,12.7

In [488]:
#df_reviews = df_reviews.dropna(subset=['business_id'])

In [556]:
df_reviews

,business_id,sentimiento,city,state,latitude,longitude,stars,review_count,categories,Days,km2,kmÂ²,Porcentaje del PIB Nacional,PoblaciÃ³n (Millones)
0,QoezRbYQncpRqyrLH6Iqjg,1.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8
1,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8
2,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8
3,QoezRbYQncpRqyrLH6Iqjg,1.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8
4,QoezRbYQncpRqyrLH6Iqjg,0.0,Tampa,Florida,27.965865,-82.443197,4.5,339.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286490,8vtUY6iWprSSHfDIctoWWQ,1.0,Boise,Texas,43.596157,-116.177924,4.0,8.0,Restaurant Breakfast & Brunch American,None,40.0,676587.8,7.95,25.1
286491,8vtUY6iWprSSHfDIctoWWQ,1.0,Boise,Texas,43.596157,-116.177924,4.0,8.0,Restaurant Breakfast & Brunch American,None,40.0,676587.8,7.95,25.1
286492,fb7xvxtgAwVqxyu4As_yRQ,NaN,Reno City,Texas,39.505878,-119.779186,2.5,38.0,"Truck Rental, Parking, Hotels & Travel, Car Re...",None,40.0,676587.8,7.95,25.1
286493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162.0,122055.8,NaN,NaN
286494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.97,12.7

In [490]:
df_total_sentimientos = df_reviews.groupby('business_id')['sentimiento'].sum().reset_index()
df_total_sentimientos.columns = ['business_id', 'total_sentimientos']

In [491]:
df_total_sentimientos

                  business_id  total_sentimientos
0      ---kPU91CF4Lq2-WlRu9Lw                 8.0
1      --epgcb7xHGuJ-4PUeSLAw                 8.0
2      -0EdehHjIQc0DtYU8QcAig                 2.0
3      -0FX23yAacC4bbLaGPvyxw                 4.0
4      -0M0b-XhtFagyLmsBtOe8w                 0.0
...                       ...                 ...
12146  zyHP-oXgDkANEyQbJVKf8g                28.0
12147  zyMkbavgHASQtqVwaock9A                 6.0
12148  zymvTQ12tRy3bzmP4tPgOg                34.0
12149  zzIF9qp2UoHN48EeZH_IDg                10.0
12150  zziDpuuJw-Km1J4BaGpBKA                 4.0

[12151 rows x 2 columns]

In [492]:
df_reviews = df_reviews.merge(df_total_sentimientos, on='business_id', how='left')

In [493]:
df_reviews_agrupado = df_reviews.sort_values('business_id')

In [494]:
df_reviews_agrupado

,business_id,sentimiento,city,state,latitude,longitude,stars,review_count,categories,Days,km2,kmÂ²,Porcentaje del PIB Nacional,PoblaciÃ³n (Millones),total_sentimientos
239448,---kPU91CF4Lq2-WlRu9Lw,1.0,New Port Richey,Florida,28.217288,-82.733344,4.5,24.0,Restaurant Breakfast & Brunch American,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8,8.0
239450,---kPU91CF4Lq2-WlRu9Lw,1.0,New Port Richey,Florida,28.217288,-82.733344,4.5,24.0,Restaurant Breakfast & Brunch American,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8,8.0
239451,---kPU91CF4Lq2-WlRu9Lw,1.0,New Port Richey,Florida,28.217288,-82.733344,4.5,24.0,Restaurant Breakfast & Brunch American,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8,8.0
239452,---kPU91CF4Lq2-WlRu9Lw,1.0,New Port Richey,Florida,28.217288,-82.733344,4.5,24.0,Restaurant Breakfast & Brunch American,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8,8.0
239453,---kPU91CF4Lq2-WlRu9Lw,1.0,New Port Richey,Florida,28.217288,-82.733344,4.5,24.0,Restaurant Breakfast & Brunch American,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238234,zziDpuuJw-Km1J4BaGpBKA,1.0,St. Louis,Florida,38.509917,-90.333968,3.5,6.0,Restaurant Sandwiches Fast Food,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8,4.0
238236,zziDpuuJw-Km1J4BaGpBKA,1.0,St. Louis,Florida,38.509917,-90.333968,3.5,6.0,Restaurant Sandwiches Fast Food,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8,4.0
238237,zziDpuuJw-Km1J4BaGpBKA,1.0,St. Louis,Florida,38.509917,-90.333968,3.5,6.0,Restaurant Sandwiches Fast Food,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.20,18.8,4.0
286493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162.0,122055.8,NaN,NaN,NaN
286494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.97,12.7,NaN

In [495]:

df_reviews_agrupado = df_reviews_agrupado.drop_duplicates(subset='business_id')

In [496]:
df_reviews_agrupado = df_reviews_agrupado.drop('sentimiento', axis=1)

In [497]:
df_reviews_agrupado

,business_id,city,state,latitude,longitude,stars,review_count,categories,Days,km2,kmÂ²,Porcentaje del PIB Nacional,PoblaciÃ³n (Millones),total_sentimientos
239448,---kPU91CF4Lq2-WlRu9Lw,New Port Richey,Florida,28.217288,-82.733344,4.5,24.0,Restaurant Breakfast & Brunch American,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.2,18.8,8.0
174001,--epgcb7xHGuJ-4PUeSLAw,Willow Grove,Florida,40.145054,-75.116293,3.0,34.0,Restaurant Sandwiches Fast Food,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.2,18.8,8.0
236126,-0EdehHjIQc0DtYU8QcAig,Land O Lakes,Florida,28.260154,-82.474816,3.0,35.0,Restaurant Chinese,None,145.0,138888.1,5.2,18.8,2.0
238473,-0FX23yAacC4bbLaGPvyxw,Newtown,Florida,40.256082,-74.916976,3.5,155.0,Restaurant Breakfast & Brunch American,"Tuesday, Wednesday, Thursday, Friday, Saturday...",145.0,138888.1,5.2,18.8,4.0
228308,-0M0b-XhtFagyLmsBtOe8w,Philadelphia,Florida,39.967439,-75.175452,3.5,18.0,Restaurant Breakfast & Brunch American,"Thursday, Friday, Saturday",145.0,138888.1,5.2,18.8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183620,zyMkbavgHASQtqVwaock9A,Philadelphia,Florida,39.962976,-75.169315,4.0,21.0,Restaurant Coffee & Tea,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.2,18.8,6.0
232565,zymvTQ12tRy3bzmP4tPgOg,Saint Charles,Florida,38.777849,-90.483287,4.0,368.0,Restaurant Breakfast & Brunch American,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.2,18.8,34.0
153442,zzIF9qp2UoHN48EeZH_IDg,Tarpon Springs,Florida,28.137368,-82.740846,3.0,19.0,Restaurant Chicken Wings - Fast Food,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.2,18.8,10.0
238235,zziDpuuJw-Km1J4BaGpBKA,St. Louis,Florida,38.509917,-90.333968,3.5,6.0,Restaurant Sandwiches Fast Food,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",145.0,138888.1,5.2,18.8,4.0
286493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162.0,122055.8,NaN,NaN,NaN

In [498]:
df_reviews = df_reviews.rename(columns={'kmÂ²': 'nuevo_nombre'}, inplace=True)

In [499]:
table = pa.Table.from_pandas(df_reviews_agrupado)

In [500]:
schema = table.schema

In [501]:
with pq.ParquetWriter('gs://data_henry_proyecto_final/yelp_final.parquet', schema) as writer:
    writer.write_table(table)

In [557]:
table = pa.Table.from_pandas(df_reviews)

In [558]:
schema = table.schema

In [559]:
with pq.ParquetWriter('gs://data_henry_proyecto_final/yelp_final_2.parquet', schema) as writer:
    writer.write_table(table)